.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  @include font(26px, 1.19);
  @include transition();
  font-family: var(--secondary-font);
  color: var(--accent-color);
  margin-right: 93px;
  padding: 24px 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.logo__header {
  @include transition();
  color: var(--black-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.site-nav {
  display: flex;
  justify-content: center;
}
.site-nav__link {
  @include transition();
  display: block;
  padding: 32px 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.site-nav__list:not(:last-child) {
  margin-right: 50px;
}
.site-nav,
.contact__link {
  @include font(14px, 1.14, 0.02em, 500);
  font-family: var(--main-font);
  color: var(--secondary-color);
}
.contact {
  display: flex;
  justify-content: center;
}
.contact__list {
  display: flex;
  align-items: center;
  fill: var(--secondary-color);

  &:not(:first-child) {
    margin-left: var(--indent);
  }
}
.contact__link {
  @include transition();
  display: flex;
  align-items: center;
  padding: 32px 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact-icon {
  @include transition();
  align-items: center;
  margin-right: 10px;

  .contact__link:hover &,
  .contact__link:focus & {
    fill: var(--accent-color);
  }
}
